body {
	background-color: lightblue;
}

h1 {
	/* background-color: green; */
}

div {
	background-color: lightblue;
}

p {
	background-color: yellow;
}

#piano {
	position: relative;
	width: 900px;
	height: 180px;
}

/* White keys */
.white-key {
	width: 60px;
	height: 180px;
	background: white;
	border: 1px solid black;
	box-sizing: border-box;
	float: left;
	position: relative;
	z-index: 1;
	border-radius: 0 0 5px 5px;
}

/* Black keys */
.black-key {
	width: 40px;
	height: 110px;
	background: black;
	position: absolute;
	z-index: 2;
	border-radius: 0 0 5px 5px;
}

/* Active notes */
.active-white {
	background: orange;
}

.active-black {
	background: red;
}

/* =======Guitar========== */
#guitar {
	margin-top: 20px;
}

.string {
	display: flex;
}

.fret {
	width: 40px;
	height: 30px;
	border: 1px solid #ccc;
}

.fret.active {
	background-color: orange;
}

/*  */
.string {
	display: flex;
	align-items: center;
}

.string-label {
	width: 20px;
	margin-right: 5px;
	font-weight: bold;
}

.fret-row {
	display: flex;
	margin-left: 25px;
}

.fret-label {
	width: 40px;
	text-align: center;
	font-size: 12px;
	color: #333;
}

.fret {
	width: 40px;
	height: 30px;
	border: 1px solid #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}

.fret.active {
	background-color: orange;
	font-weight: bold;
}
#fretbackground {
	background-color: #333;
}

/* Editor page */
.section {
	margin-bottom: 20px;
}

.line {
	position: relative;
	margin-bottom: 20px;
}

.lyrics {
	min-height: 24px;
	border-bottom: 1px solid #ccc;
	padding: 5px;
}

.chords {
	position: relative;
	height: 20px;
}

.chord {
	position: absolute;
	top: 0;
	font-weight: bold;
	color: blue;
	cursor: pointer;
	transform: translateX(-50%);
}

/* NAV */
.navbar {
	background-color: #222;
	padding: 10px;
	display: flex;
	gap: 20px;
}

.navbar a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.navbar a:hover {
	text-decoration: underline;
}
